.control-editor-content {
  min-height: 500px !important;
  padding: 0 10px;
}
.control-editor-content-containor{
  padding: 0px !important;
  width: 100%;
}
.control-editor-discription {
  min-height: 200px;
  padding: 0 10px;
}
.custom-image-uploader-btn {
  width: 30px !important;
  cursor: pointer !important;
}
